<br><br><br><br>
<div ibmGrid>
    <div ibmRow>
        <div class="center" ibmCol [columnNumbers]="{'lg':8}">
            <img class="logo" src="assets/svg/diary.svg">
        </div>
        <div ibmCol [columnNumbers]="{'lg':6}">
            <p class="heading">Virtual Diary</p>
            <div>
                <ibm-label invalidText="">
                    <h4>Pen Name</h4>
                    <input ibmText [(ngModel)]="penName.value" [invalid]="penName.invalid"/>
                </ibm-label>
                <ibm-label helperText="Strongest of the password is required for deepest of the secrets"
                            invalidText="Incorrect password, please try again"
                            [invalid]="password.invalid">
                    <h4>Secret Key</h4>
                    <input type="password" ibmText [(ngModel)]="password.value" [invalid]="password.invalid" />
                </ibm-label>
                <button ibmButton="primary" size="normal" (click)="onSubmit()">Enter / Create</button>
            </div>
        </div>
    </div>
</div>
